body {
  font-family: arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
div.page-wrapper {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
div.header ul {
  list-style: none;
  padding: 0;
}
div.header ul > li {
  display: inline;
  margin-right: 20px;
}
div.header ul > li > a {
  text-decoration: none;
  color: #336699;
}
div.header ul > li > a:hover {
  color: #8cb3d9;
}
div.footer {
  margin-top: 60px;
  border-top: 1px solid lightgray;
}
div.footer p {
  text-align: center;
  color: lightgray;
}
span.error {
  color: red;
}
div.post-box {
  border: 1px solid lightgray;
  margin-bottom: 20px;
  padding-left: 20px;
}
.pull-right {
  float: right;
  margin-right: 20px;
}
div.sm-box {
  background-color: red;
  color: white;
  height: 50px;
}

@media screen and (min-width: 1000px) {
  div.sm-box {
    margin-top: 3rem;
    margin-left: 20rem;
    margin-right: 20rem;
  }
}

div.sm-box p {
  text-align: center;
  line-height: 29px;
}

.err {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

div.results_container {
  border: 1px solid lightgray;
  margin-bottom: 20px;
  padding-left: 20px;
}

div.results_container p {
  font-family: Arial, Helvetica, sans-serif;
}
